#cars__container{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px;
}
.card{
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-width: 338px !important;
	min-height: 518px;
    padding: 10px;
    border-radius: 2px;
}